body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1010px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1010px;
  display:flex;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:648px;
  height:352px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:142px;
  width:648px;
  height:352px;
  display:flex;
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:352px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:802px;
  top:650px;
  width:352px;
  height:352px;
  display:flex;
  opacity:0.43;
}
#u2 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:104px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:786px;
  width:356px;
  height:104px;
  display:flex;
  opacity:0.68;
}
#u4 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:39px;
  color:#FFFFFF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:815px;
  width:172px;
  height:46px;
  display:flex;
  font-size:39px;
  color:#FFFFFF;
}
#u5 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:186px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:488px;
  width:127px;
  height:186px;
  display:flex;
  -webkit-transform:rotate(43deg);
  -moz-transform:rotate(43deg);
  -ms-transform:rotate(43deg);
  transform:rotate(43deg);
  opacity:0.98;
}
#u7 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:186px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1107px;
  top:447px;
  width:127px;
  height:186px;
  display:flex;
  -webkit-transform:rotate(11deg);
  -moz-transform:rotate(11deg);
  -ms-transform:rotate(11deg);
  transform:rotate(11deg);
  opacity:0.98;
}
#u8 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:186px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:456px;
  width:127px;
  height:186px;
  display:flex;
  -webkit-transform:rotate(342deg);
  -moz-transform:rotate(342deg);
  -ms-transform:rotate(342deg);
  transform:rotate(342deg);
  opacity:0.98;
}
#u9 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:186px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:573px;
  width:127px;
  height:186px;
  display:flex;
  -webkit-transform:rotate(255deg);
  -moz-transform:rotate(255deg);
  -ms-transform:rotate(255deg);
  transform:rotate(255deg);
  opacity:0.98;
}
#u10 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:186px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:1212px;
  top:666px;
  width:127px;
  height:186px;
  display:flex;
  -webkit-transform:rotate(103deg);
  -moz-transform:rotate(103deg);
  -ms-transform:rotate(103deg);
  transform:rotate(103deg);
  opacity:0.98;
}
#u11 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:186px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:699px;
  width:127px;
  height:186px;
  display:flex;
  -webkit-transform:rotate(308deg);
  -moz-transform:rotate(308deg);
  -ms-transform:rotate(308deg);
  transform:rotate(308deg);
  opacity:0.98;
}
#u12 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
